<div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="container-video">
        <iframe id="video" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="titulo-video">
            <h2>{{tituloVideo}}</h2>
        </div>
    </div>
    <div class="container-lista-videos">
        <div class="cabecalho-lista">
            <span>Conteúdo do curso</span>
            <div class="barra-progresso">
                <progress value={{valorProgresso}} max={{objetoRecebido.quantidadeVideos}}></progress>
                <span>{{porcentagem}}%</span>
            </div>
        </div>

        @for (item of objetoRecebido.tabelaVideos; track $index) {
            <div class="item-lista" (click)="aoClicarNaAula(item)">

                @if (item.concluido) {
                    <span class="material-symbols-outlined check-box" (click)="aoClicarEmConcluido(item)">check_box</span>
                }
                @else {
                    <span class="material-symbols-outlined check-box" (click)="aoClicarEmConcluido(item)">check_box_outline_blank</span>
                }

                <p>{{item.titulo}}</p>
            </div>
        }

    </div>
</div>