.banner-principal{
    height: 60vh;
    background-image: url("https://img.freepik.com/fotos-gratis/uma-pessoa-digitando-no-laptop-no-escritorio-gerado-pela-ia_188544-39272.jpg?w=740&t=st=1705694682~exp=1705695282~hmac=127c10238bdf3bf05270ed4837c4c731f3ec8fe15fd99ac4dd06fb6ae2d59750");
    background-repeat: no-repeat;
    background-size: cover;
}