<div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="imagem-1 parallax">
        <h1 class="titulo">Viver das nossas paixões <br>é trazer ao mundo o <br>melhor de nós</h1>
        <div class="card-flutuante">
            Além de oferecer uma plataforma completa, encurtamos o caminho para que estudantes do mundo inteiro possam
            se profissionalizar. Possibilitamos mudanças significativas na vida das pessoas e isso é só o começo.
        </div>
    </div>
    <section>
        <div class="section-textos">
            <h1>Educação e empreendedorismo mudam o mundo</h1>
        </div>
        <div class="section-textos">
            <p>Produzir e compartilhar conteúdo pela internet é algo desafiador. Mas com muito empenho e dedicação foi
                possível realizar esse grande sonho de ajudar milhares de pessoas. Hoje nosso site é capaz de oferecer
                dezenas de cursos voltados para a área de tecnologia e informação.</p>
            <p class="negrito">Os cursos digitais tem o poder de transformar vidas</p>
            <p>Aprender e ensinar é a forma como evoluímos. E ficamos orgulhosos por participar dessa transformação na
                vida de milhões de pessoas no mundo todo.</p>
        </div>
    </section>
    <div class="imagem-2 parallax">
        <div class="card-2">
            <h1>Tornar o mundo melhor a partir da economia criativa</h1>
            <p>A mudança só acontece com ação. Mais do que uma crença, isso faz parte da nossa <strong>Política de
                    Responsabilidade Social.</strong> Atuamos nas frentes de <strong>Investimentos sociais, doações,
                    patrocínios, Voluntariado DevCursos e também pelo Programa UmPorCento</strong>, iniciativa que, com
                a
                parceria dos nossos ciradores, alcançamos uma doação significativa.</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>