<div class="container">
    <app-barra-superior></app-barra-superior>
    <div class="conteudo">
        <h1>Titulo do curso</h1>
        <iframe src="https://www.youtube.com/embed/bCFTv8a59PE?si=YQqlx_1Zzmr1DaYJ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="descricao-curso">
            <div class="abas">
                <div class="div-aba">Conteúdo</div>
                <div class="div-aba">Detalhes do curso</div>
            </div>
            <div class="conteudo-curso">
                <div class="video">
                    <span>
                        01 Titulo do video
                    </span>
                    <span class="material-symbols-outlined lock-open">
                        lock_open
                    </span>
                </div>
                <div class="video">
                    <span>
                        02 Titulo do video
                    </span>
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
                <div class="video">
                    <span>
                        03 Titulo do video
                    </span>
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
                <div class="video">
                    <span>
                        04 Titulo do video
                    </span>
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
                <div class="video">
                    <span>
                        05 Titulo do video
                    </span>
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
                <div class="video">
                    <span>
                        06 Titulo do video
                    </span>
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
            </div>
            <div class="detalhes-curso">

            </div>
        </div>
    </div>
    <div class="comprar">
        <h1>R$ 58,60</h1>
        <p>em até 6x sem juros</p>
        <button>Ir para o carrinho</button>
        <div class="icone-texto">
            <span class="material-symbols-outlined">star</span>
            <p>5</p>
        </div>
        <div class="icone-texto">
            <span class="material-symbols-outlined">done</span>
            <p>Garantia de 7 dias</p>
        </div>
        <div class="icone-texto">
            <span class="material-symbols-outlined">workspace_premium</span>
            <p>Certificado de conclusão</p>
        </div>
        <div class="icone-texto">
            <span class="material-symbols-outlined">schedule</span>
            <p>Estude do seu jeito e em qualquer dispositivo</p>
        </div>
        <div class="icone-texto">
            <span class="material-symbols-outlined">smart_display</span>
            <p>30 aulas e 30 horas de conteúdo original</p>
        </div>
        <div class="icone-texto">
            <span class="material-symbols-outlined">person</span>
            <p>+54600 estudantes</p>
        </div>
        <div class="icone-texto">
            <span class="material-symbols-outlined">star</span>
            <p>96% de avaliações positivas</p>
        </div>
    </div>
</div>