app-barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

p {
    margin: 0;
    padding: 0;
    font-size: 3.5vh;
}

button {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

iframe {
    width: 100%;
    height: 80vh;
    border-radius: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

a:hover {
    color: #0062CF;
}

.conteudo {
    width: 63%;
    padding: 10vh;
    padding-top: 20vh;
}

.comprar {
    width: 20vw;
    border: 1px solid #E1E1E1;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    padding-bottom: 2vh;
    border-radius: 3vh;
    position: fixed;
    right: 5vh;
    bottom: 9vh;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 3.5vh;
    margin-right: 1.5vh;
}

.icone-texto {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
}

.abas {
    display: flex;
    height: 10vh;
    border-bottom: 1px solid #E1E1E1;
}

.div-aba-selecionada {
    padding: 0 10px 0 10px;
    height: 99%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms ease;
    font-weight: bold;
    border-bottom: solid 3px #007DFE;
}

.div-aba-nao-selecionada {
    padding: 0 10px 0 10px;
    height: 99%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms ease;
    font-weight: bold;
}

.div-aba-selecionada:hover,
.div-aba-nao-selecionada:hover {
    cursor: pointer;
    border-bottom: solid 3px #007DFE;
}

.video {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    border-bottom: 1px solid #E1E1E1;
    font-weight: bold;
    justify-content: space-between;
}

.lock-open {
    color: green;
}

.detalhes-curso {
    margin-top: 2vh;
}

.icone-perfil {
    background-image: url("https://yt3.ggpht.com/ytc/AIf8zZSZZQG9pyMudyy_wzZi5ecXIR_nS2LlAzKsEZ5IWQ=s48-c-k-c0x00ffffff-no-rj");
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 2vh;
}

.autor {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}