<div class="container">
    <div class="container-login">
        <div class="container-email">
            <label>Digite seu Email</label>
            <input type="text" placeholder="Email">

            @if (emailInvalido){
                <label id="erro-email">Email é obrigatório</label>
            }

        </div>
        <div class="container-senha">
            <label>Digite uma senha</label>
            <input type="password" placeholder="Senha">

            @if (senhaInvalida) {
                <label id="erro-senha">Senha é obrigatória</label>
            }

        </div>
        <div class="container-senha">
            <label>Digite sua senha novamente</label>
            <input type="password" placeholder="Confirmar senha">

            @if (segundaSenhaDiferenteDaPrimeira) {
                <label id="erro-repetir-senha">Senha é obrigatória</label>
            }

        </div>
        <div class="container-button">
            <button (click)="aoClicarEntrar()">Cadastrar</button>
            <label>Já possui uma conta? <a href="">Acesse por aqui!</a></label>
        </div>
    </div>
    <div class="imagem"></div>
</div>