img{
    filter: opacity(55%);
}

.container {
    width: 250px;
    height: 300px;
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    margin-bottom: 10vh;
}

.container:hover {
    cursor: pointer;
    background-size: 300px;
}

.container img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container span {
    color: white;
    font-size: 3vh;
    font-weight: bold;
    
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container:hover span {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.titulo-com-valor{
    position: absolute;
    margin-left: 2.8vh;
    margin-bottom: 8.5vh;
    width: calc(250px - 2.8vh);
    display: flex;
}

.titulo-sem-valor{
    position: absolute;
    margin-left: 2.8vh;
    margin-bottom: 3vh;
    width: calc(250px - 2.8vh);
}

#valor{
    position: absolute;
    margin-left: 2.8vh;
    margin-bottom: 3vh;
}