<div class="container">
    <nav class="nav-bar">
        <div class="logo">
            <img class="imgLogo" src="../../../assets/app-logo.png" alt="">
            <div class="linksDoHeader">
                <div class="div-link">
                    <a href="">Meus Cursos</a>
                </div>
                <div class="div-link">
                    <a href="">Todos os Cursos</a>
                </div>
                <div class="div-link">
                    <a href="">Faça uma doação</a>
                </div>
            </div>
        </div>
        <div class="barra-pesquisa">
            <input class="input-pesquisa" type="text" placeholder="Pesquise seus cursos">
            <span class="material-symbols-outlined" id="search">search</span>
        </div>
        <span id="icone-usuario">JO</span>
    </nav>
</div>