<div class="container">
    <nav class="nav-bar">
        <div class="logo">
            <img class="imgLogo" src="../../../assets/app-logo.png" alt="">
            <div class="linksDoHeader">
                <div class="div-link" (click)="navegarPara('/area-do-consumidor')">
                    <a href="/area-do-consumidor">Meus Cursos</a>
                </div>
                <div class="div-link" (click)="navegarPara('/mercado')">
                    <a href="/mercado">Todos os Cursos</a>
                </div>
                <div class="div-link" (click)="navegarPara('/pagina-doacao')">
                    <a href="/pagina-doacao">Faça uma doação</a>
                </div>
            </div>
        </div>
        <div class="barra-pesquisa">
            <input class="input-pesquisa" type="text" placeholder="Pesquise seus cursos">
            <span class="material-symbols-outlined" id="search">search</span>
        </div>
        <span id="icone-usuario">JO</span>
    </nav>
</div>