<div class="container">
    <app-barra-superior></app-barra-superior>
    <header>
        <h1>Meus cursos</h1>
        <hr>
    </header>
    <div class="controles-minhas-compras">
        @for (item of listaCard; track $index) {
        <app-card-meu-curso (click)="aoClicarNoCard()"></app-card-meu-curso>
        }
    </div>
    <div class="banner" (click)="aoClicarNoBanner()">
        <div class="texto">
            <span id="primeiro-texto">Explore mais conteúdos no</span>
            <span id="segundo-texto">nosso marktplace.</span>
            <p>Encontre os melhores conteúdos, em um ambiente seguro e cheio de funcionalidades, de onde você estiver.
            </p>
            <button>Quero explorar!</button>
        </div>
        <div class="icone">
            <div class="icon">
                <img src="https://img.freepik.com/vetores-premium/icone-de-compras-on-line-da-cesta-de-compras-isometrico-do-icone-do-vetor-de-compras-on-line-da-cesta-de-compras-para-web-design-isolado-em-fundo-branco_96318-103041.jpg?w=740"
                    alt="">
            </div>
        </div>
    </div>
    <app-rodape></app-rodape>
</div>