<div class="container">
    <app-barra-superior></app-barra-superior>
    <header>
        <h1>Meus cursos</h1>
        <hr>
    </header>
    <div class="controles-minhas-compras">
        <app-card-meu-curso (click)="aoClicarNoCard()"></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
        <app-card-meu-curso></app-card-meu-curso>
    </div>
    <app-rodape></app-rodape>
</div>