app-barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

header {
    padding: 10vh;
    padding-top: 20vh;
    padding-bottom: 0;
}

.container {
    height: 90vh;
}

.controles-minhas-compras {
    min-height: 53.2vh;
    padding: 10vh;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    justify-items: center;
}

.banner {
    background-color: #E1E1E1;
    height: 30vh;
    margin: 10vh;
}